* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  
}
h1 {
  text-align: center;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
  
}
button {
  width: 200px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.623);
}
.rock,
.paper,
.scisser{
  width: 100%;
    
}
button:active{
  scale: 0.95;
}
.restart{
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(252, 242, 230);
}
.score-result{
  display: flex;
  justify-content: center;
  /*background-color: aqua;*/
}
.result-final {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
  text-align:center;
  /*background-color: bisque;*/
  width: 350px;
  height: 110px;
  font-weight:bold ;
}
#score {
  width: 200px;
}